<a href="/">
    <h1>Warfinder</h1>
</a>

<nav>
    <div class="dropdown">
        <a href="#" class="btn">Faction</a>
        <div class="dropdown-content">
            <%faction.forEach (faction => {%>
            <%factionURL = encodeURI(faction)%>
            <a href="/faction/<%=factionURL%>"><%=faction%></a>
            <%})%>
        </div>
    </div>
    <div class="dropdown">
        <a href="#" class="btn">Ability</a>
        <div class="dropdown-content">
            <%ability.forEach (ability => {%>
            <%abilityURL = encodeURI(ability.name)%>
            <a href="/ability/<%=abilityURL%>"><%=ability.name%></a>
            <%})%>
        </div>
    </div>
</nav>