.cardIndex {
    display: flex;
    margin: auto;
    width: 50%;
    display: block;
    justify-content: center;
    text-align: center;
    

    
}

img {
    border-radius: 10%;
    height: 375px;
    width: 220px;
    object-fit: none;
}