body {
    font-family: 'Metal Mania', cursive;
    /* background-color: #4D6A6D; */
    /* background-color: #607B7D; */
    background-color: #5C6B73;
}

.title {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #752306;
}

.cardIndex {
    display: flex;
    margin: auto;
    width: 50%;
    display: block;
    justify-content: center;
    text-align: center;
}

nav {
    overflow: hidden;
    background-color: #02040f;
    margin-bottom: 10px;
}

nav a {
    float: left;
    color: #e5dada;
    font-size: 24px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.dropdown {
    float: left;
    overflow: hidden;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E5DADA;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.69);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.69);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #02040f;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown .btn {
    float: initial;
    padding: 10px 16px;
    display: inline;
}

.dropdown .btn:hover {
    background-color: #752306;
}

.dropdown-content a:hover {
    background-color: #752306;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.cardIndex img {
    border-radius: 10%;
    height: 375px;
    width: 220px;
    object-fit: none;
}

img.card{
    position: absolute;
    height: 500px;
    width: auto;
    left: 30%;
    top: 37.5%
}

img.frame {
    position: absolute;
    left: 30%;

   
}

/* .parent {
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr) 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 4 / 3 / 6 / 4; }
    .div2 { grid-area: 2 / 2 / 7 / 5; } */